In [1]:
import numpy as np
arr = np.array([5,10,15,20])
print(arr + 10)

[15 20 25 30]

In [2]:
import pandas as pd
dt = {
    "Name" : ["Alice" , "Bob" , "Charlie"],
    "Age" : [24,25,23],
    "Marks" : [87,91,78]
}
df = pd.DataFrame(dt)
df["Result"] = ["Pass" , "Pass" , "Fail"]
print(df)

      Name  Age  Marks Result
0    Alice   24     87   Pass
1      Bob   25     91   Pass
2  Charlie   23     78   Fail